<article class="post">
  <div class="container">
    <h1>お問い合わせ</h1>
    <p>ROGGERについてのご質問などがございましたら、下記の窓口よりお問い合わせください。</p>
    <div class="contact-wrap">
      <div class="contact">
        <span class="fa fa-phone"></span>
        <h2>電話</h2>
        <a href="tel:000-1234-5678">000-1234-5678</a>
      </div>
      <div class="contact">
        <span class="fa fa-envelope"></span>
        <h2>Eメール</h2>
        <a href="mailto:contact@logger.com">contact@logger.com</a>
      </div>
    </div>
  </div>
</article>
<aside class="location">
  <h2>LOCATION</h2>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.6566075690002!2d139.80851171520138!3d35.71006703599742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ed0d12f9adf%3A0x7d1d4fb31f43f72a!2z5p2x5Lqs44K544Kr44Kk44OE44Oq44O8!5e0!3m2!1sja!2sjp!4v1582282204249!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</aside>