.conA{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-height: 450px;
	text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(fruits.jpg);
	background-position: center;
	background-size: cover;
	color: $white;
	h1{
		margin-bottom: 10px;
		font-size: 15vw;
		font-family: 'Montserrat', sans-serif;
		/* letter-spacingは右側に余白を挿入する*/
		letter-spacing: 0.2em;
		margin-left: 0.2em;
		font-weight: bold;
	}
	p{
		font-size: 18px;
	}
	img{
		width: 20%;
	}
	a{
		@include buttons;
	}
	@media(min-width:768px){
		h1{
			font-size: 115px;
		}
		p{
			font-size: 24px;
		}
	}
}

.conB{
	.container{
		padding-top: 80px;
		padding-bottom: 20px;
		.text{
			padding: 0 20px 60px 20px;
			text-align: center;
			h2{
				margin-bottom: 10px;
				font-size: 20px;
			}
			p{
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 1.8;
				opacity: 0.8; 
			}
			a{
				color: $main-color;
				text-decoration: none;
				&:hover{
				text-decoration: underline;
				}
			}
			.icon{
				display: inline-block;
				margin-bottom:20px;
				font-size: 40px;
				/* font-sizeの２倍*/
				width: 2em;
				line-height: 2em;
				border-radius: 50%;
				text-align: center;
				background-color: $gray;
				color: $white;
			}	
		}
	}
	@media(min-width:768px){
		.container{
			display: flex;
			max-width: 1000px;
			margin: 0 auto;
			.text{
				flex: 1;
			}
		}
	}
}

.conC{
	background-color: $main-color;
	color: $white;
	.container{
		.photo{
			background-image: url(note.jpg);
			background-position: center;
			background-size: cover;
			min-height: 200px;
		}
		.text{
			padding: 20px;
			h2{
				margin-bottom: 10px;
				font-size: 20px;
			}
			p{
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 1.8;
				opacity: 0.8; 
			}
			a{
				@include buttons;
				.fa{

				}
			}
		}
	}
	@media(min-width: 768px){
		.container{
			display: flex;
			max-width: 1000px;
			margin: 0 auto;
			.photo{
				flex: 3;
			}
			.text{
				flex: 2;
				padding: 50px;
			}
		}
	}
}

.conD{
	background-image: url(life.jpg);
	background-position: center;
	background-size: cover;
	.container{
		padding-top: 2px;
		.photo{
			min-height: 200px;
		}
		.text{
			padding: 20px;
			background-color: rgba(255,255,255,0.7);
			h2{
				margin-bottom: 10px;
				font-size: 20px;
			}
			p{
				margin-bottom: 20px;
				font-size: 14px;
				line-height: 1.8;
				opacity: 0.8; 
			}
			a{
				@include buttons;
				box-shadow: 0 0 0 1px #888;
				.fa{

				}
			}
		}
	}
	@media(min-width: 768px){
		.container{
			display: flex;
			flex-direction: row-reverse;
			max-width: 1000px;
			margin: 0 auto;
			padding: 40px 0;
			.photo{
				flex: 0 0 400px;
			}
			.text{
				flex: 1;
				padding: 50px;
			}
		}
	}
}

